.wrapper{
    height: 900px;
    /*background: #c60023;*/
    /*background: rgb(252,252,252);*/
    background: url("../../../images/body04.jpg") no-repeat top center;
}

/*整体布局*/
.wrapper .registerContent{
    margin: 200px auto 20px auto;
    padding: 20px 35px;
    height: 500px;
    width: 390px;
    /*background: #fff;*/
    background: url("../../../images/transparent.png");
}

/*标题布局*/
.wrapper .registerContent h3{
    width: 130px;
    height: 20px;
    margin: 0 auto 30px auto;
    font-size: 25px;
    color: #fff;
}

/*input输入框整体布局*/
.wrapper .registerForm{
    position: relative;
    padding: 10px 25px;
}

/*input输入框布局*/
.wrapper .registerForm .user-item{
    position: relative;
    margin-bottom: 15px;
}

.wrapper .registerForm .user-label{
    position: absolute;
    left: 1px;
    top: 1px;
    bottom: 1px;
    width: 40px;
    line-height: 38px;
    height: 38px;
    background: #f3f3f3;
    font-size: 18px;
    color: #d3d3d3;
    text-align: center;
    border-right: 1px solid #bdbdbd;
}

.wrapper .registerForm .user-content{
    padding:10px 0 10px 50px;
    width: 288px;
    height: 18px;
    line-height: 18px;
    font-size: 15px;
    border:1px solid #bdbdbd;
    outline: none;
}


/*提交按钮样式*/
.wrapper .registerForm .submitBtn{
    width: 341px;
    height: 50px;
    background: rgb(245,102,0);
}