<!DOCTYPE html>
<html lang="en">
<head>
    <%= require("html-loader!./common/layout/header-common.html")%>
</head>
<body>
<div class="wrapper">
    <div class="w">
        <div class="registerContent">
            <h3>新用户注册</h3>
            <div class="registerForm">
                <div class="user-item">
                    <label class="user-label">
                        <i class="fa fa-user"></i>
                    </label>
                    <input type="text" name="username" placeholder="请输入用户名" class="user-content">
                </div>
                <div class="user-item">
                    <label class="user-label">
                        <i class="fa fa-key"></i>
                    </label>
                    <input type="text" name="user-password" placeholder="请输入密码" class="user-content">
                </div>
                <div class="user-item">
                    <label class="user-label">
                        <i class="fa fa-key"></i>
                    </label>
                    <input type="text" name="user-password2" placeholder="再次确认密码" class="user-content">
                </div>
                <div class="user-item">
                    <label class="user-label">
                        <i class="fa fa-phone-square"></i>
                    </label>
                    <input type="text" name="user-phone" placeholder="请输入手机号" class="user-content">
                </div>
                <div class="user-item">
                    <label class="user-label">
                        <i class="fa fa-envelope-o"></i>
                    </label>
                    <input type="text" name="user-email" placeholder="请输入邮箱地址" class="user-content">
                </div>
                <div class="user-item">
                    <label class="user-label">
                        <i class="fa fa-question"></i>
                    </label>
                    <input type="text" name="question" placeholder="请输入密码提示问题" class="user-content">
                </div>
                <div class="user-item">
                    <label class="user-label">
                        <i class="fa fa-commenting"></i>
                    </label>
                    <input type="text" name="answer" placeholder="请输入密码提示答案" class="user-content">
                </div>
                <input type="button" value="立即注册" class="btn submitBtn">
            </div>
        </div>
    </div>
</div>
<!--引入foot区域-->
<%= require("html-loader!./common/layout/footer-common.html")%>
</body>
</html>