<div class="nav">
    <div class="w">
        <div class="user-info">
            <span class="user-nologin">
                <span class="link js-login">登录</span> |
                <span class="link js-register">注册</span>
            </span>
            <span class="user-login">
                <span class="link-text">
                    欢迎您，尊敬的<span class="username"></span>
                </span>
                <span class="link">
                    退出
                </span>
            </span>
        </div>
        <ul class="nav-list">
            <li class="link nav-item">
                <li class="link fa fa-shopping-cart">
                购物车(<span class="cart-counts">0</span>)
            </li> |
            <li class="link nav-item">我的订单</li> |
            <li class="link nav-item">我的商城</li> |
            <li class="link nav-item">关于蒋征</li>
        </ul>
    </div>
</div>