<li class="page-item">
    <a href="">
        <span class="product-price">￥ 4200</span>
        <span class="product-desc">【测试学习使用】thinkpad旗舰本</span>
        <img src='../../../../images/floor/floor1-1.jpg' alt="" target="_blank" class="p-img">
    </a>
</li>