<div class="bannerBox">
    <div id="banner" class="banner">
        <div class="banner-nav">
            <ul class="nav-list">
                <li class="nav-items">
                    <a href="#" class="nav-item">
                        <span href="#" class="link">手机</span>
                        <span href="#" class="link">电话卡</span>
                    </a>
                </li>
                <li class="nav-items">
                    <a href="#" class="nav-item">
                        <span href="#" class="link">电视</span>
                        <span href="#" class="link">盒子</span>
                    </a>
                </li>
                <li class="nav-items">
                    <a href="#" class="nav-item">
                        <span href="#" class="link">笔记本</span>
                        <span href="#" class="link">台式机</span>
                    </a>
                </li>
                <li class="nav-items">
                    <a href="#" class="nav-item">
                        <span href="#" class="link">智能</span>
                        <span href="#" class="link">家电</span>
                    </a>
                </li>
                <li class="nav-items">
                    <a href="#" class="nav-item">
                        <span href="#" class="link">健康</span>
                        <span href="#" class="link">家居</span>
                    </a>
                </li>
                <li class="nav-items">
                    <a href="#" class="nav-item">
                        <span href="#" class="link">出行</span>
                        <span href="#" class="link">儿童</span>
                    </a>
                </li>
                <li class="nav-items">
                    <a href="#" class="nav-item">
                        <span href="#" class="link">路由器</span>
                        <span href="#" class="link">手机配件</span>
                    </a>
                </li>
                <li class="nav-items">
                    <a href="#" class="nav-item">
                        <span href="#" class="link">移动电源</span>
                        <span href="#" class="link">插线板</span>
                    </a>
                </li>
                <li class="nav-items">
                    <a href="#" class="nav-item">
                        <span href="#" class="link">耳机</span>
                        <span href="#" class="link">音箱</span>
                    </a>
                </li>
                <li class="nav-items">
                    <a href="#" class="nav-item">
                        <span href="#" class="link">生活</span>
                        <span href="#" class="link">米兔</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>